<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POTEConnectionString"
            connectionString="Data Source=blaxadowfire.ddns.net;Initial Catalog=&quot;Pirates of the eggs&quot;;Persist Security Info=True;User ID=console;Password=123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>